---
layout: default
title: Štefan Ľupták [EskiMag]
index: true
---
<div class="four columns">
	<h3>Who I am</h3>	
	<p>I am software developer from Slovakia currently living in Prague, Czech Republic. If you're interested in my life or work, check out the links so you can better imagine who I am.</p>
</div>

<div class="nine columns">
	<h3>What I do</h3>	
	<p>When I am not biking or hiking I sit in front of my MacBook and write code for:</p>
	<ul class="square">
		<li><strong>Web</strong>: I like to develop custom web applications built on top of Ruby. I am using mostly Ruby On Rails, but Sinatra/Padrino can be very handy sometimes.</li>
		<li><strong>iOS</strong>: You have to love those devices. iPhone/iPad/iPod Touch are now very popular. If you need an app for them, just contact me.</li>
		<li><strong>Mac</strong>: With start of Mac App Store, Mac applications became again very interesting business. Development is quite similar as for iOS.</li>
	</ul>

  {% if site.posts != empty %}
    <h3>Blog Posts</h3>
    <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="three columns">
	<h3>Get in touch</h3>	
	<ul class="square">
	 <li><a href="mailto:eskimag@eskimag.sk">Email</a></li>
	 <li><a href="http://linkedin.com/in/eskimag">LinkedIn</a></li>
	 <li><a href="http://facebook.com/eskimag">Facebook</a></li>
	 <li><a href="http://twitter.com/eskimag">Twitter</a></li>
	 <li><a href="http://github.com/eskimag">GitHub</a></li>
	</ul>
</div>
