body {
  background-image: url('../images/bg.png');
}

h1 small, h2 small {
  /*font-size: 65%;*/
  /*line-height: 150%;*/
  color: #777;
}

h1 a, h2 a {
  text-decoration: none;
}

code {
  font-family: menlo, monaco, courier, monotype;
  font-size: 90%;
  display: block;
  background-color: #dddddd;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.header-post {
  text-align: center;
  padding-top: 5px;
}

.header-index {
  padding-top: 80px;
}

.float-left {
  float: left;
}